<!doctype html>
<html ng-app="memoryGameApp">
<head>
  <meta charset="utf-8">
  <title>Memory Game</title>
  <link rel="stylesheet" href="css/app.css">
  <script src="js/extras.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/game.js"></script>
</head>

<body ng-controller="GameCtrl">

<div id="layout">
  <div>Happy HolidayJS, {{user}}!</div>
  <div>Pairs left to match: {{game.unmatchedPairs}}</div>
  <div>Match Attempts: {{game.totalClickAttempts}}</div>
  <div>Matching: {{game.firstPick.title}}</div>
  <div class="message">{{game.message}}</div>

  <table class = "gameboard">
    <tr ng-repeat="row in game.grid">
      <td ng-repeat="tile in row" ng-click="game.flipTile(tile)">

        <!-- this entire block can be replaced with our custom component mgCard:
          <mg-card tile="tile"></mg-card>
        -->
        <div class="container">
          <div class="card" ng-class="{flipped: tile.flipped}">
              <div class="image front"><img ng-src="img/back.png"></div>
              <div class="image back"><img ng-src="img/{{tile.title}}.png"></div>
          </div>
        </div>

      </td>
    </tr>
  </table>

</div>

</body>
</html>
